.filter-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 10px;
  gap: 8px;
  position: absolute;
  width: 100%;
  max-width: 270px;
  right: 23.5%;
  margin-top: -15px;
  background: #FFFFFF;
  box-shadow: 0 0 16px #ffebef;
  border-radius: 8px;
  z-index: 10000;

  .label-radio-dropdown {
    display: flex;
    width: 92%;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 700;
    padding: 0px 10px 10px 10px;
    position: relative !important;
    border-bottom: 1px solid #DCDDDE;
  }

  .container-buttons-dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
  }
}