<div class="dialog-precios">
  <div mat-dialog-title>
    <svg
      width="36"
      height="36"
      viewBox="0 0 36 36"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16 36H4C1.8 36 0 34.2 0 32V4C0 1.8 1.8 0 4 0H16V36ZM20 36H32C34.2 36 36 34.2 36 32V18H20V36ZM36 14V4C36 1.8 34.2 0 32 0H20V14H36Z"
        fill="#59616E"
      />
    </svg>
    <button class="btn-modal-close" (click)="closeModal()">x</button>
  </div>
  <p class="modal-precios-title">
    {{ title }}
  </p>
  <verisure-alert
    *ngIf="hasError"
    style="padding-top: 20px"
    @alertAnimation
    size="md"
    [label]="messageError"
    type="error"
  ></verisure-alert>
  <p class="modal-precios-subtitle">
    Completa los campos para {{ data.action === 'add' ? 'crear' : 'editar' }} el
    nuevo precio
  </p>

  <mat-dialog-content [formGroup]="formPrecio">
    <form style="display: flex; flex-direction: column; gap: 12px">
      <div>
        <div class="col-5">
          <div class="select-items">
            <verisure-input
              label="Producto"
              [control]="$any(formPrecio.controls['productoId'])"
              type="select"
              width="100%"
              placeholder="Seleccionar"
            >
              <mat-option
                options
                *ngFor="let option of productosOptions"
                [value]="option.key"
                >{{ option.value }}</mat-option
              >
            </verisure-input>
          </div>
        </div>

        <div class="col-5">
          <verisure-input
            [control]="$any(formPrecio.controls['verisureIdBase'])"
            type="text"
            label="Id Verisure (VS)"
            placeholder=""
            [disabled]="!$any(formPrecio.controls['productoId']).valid"
          >
          </verisure-input>
        </div>
      </div>

      <div>
        <div class="col-5">
          <verisure-input
            [control]="$any(formPrecio.controls['motorReglasId'])"
            type="text"
            label="Id Motor de Reglas (ID MR)"
            placeholder=""
            [disabled]="!$any(formPrecio.controls['productoId']).valid"
          >
          </verisure-input>
        </div>
      </div>

      <div>
        <div class="col-5">
          <verisure-input
            [control]="$any(formPrecio.controls['precioI'])"
            type="text"
            label="Precio Instalación"
            placeholder=""
            [disabled]="!$any(formPrecio.controls['productoId']).valid"
          >
          </verisure-input>
        </div>

        <div class="col-5">
          <div class="select-items">
            <verisure-input
              label="Categoría"
              [control]="$any(formPrecio.controls['categoriaId'])"
              type="select"
              width="100%"
              placeholder="Seleccionar"
              [disabled]="!$any(formPrecio.controls['productoId']).valid"
            >
              <mat-option
                options
                *ngFor="let option of categoriasOptions"
                [value]="option.key"
                >{{ option.value }}</mat-option
              >
            </verisure-input>
          </div>
        </div>
      </div>

      <div>
        <div class="col-5">
          <verisure-input
            [control]="$any(formPrecio.controls['verisureIdI'])"
            type="text"
            label="Id Verisure (Precio Instalación)"
            placeholder=""
            [disabled]="!$any(formPrecio.controls['productoId']).valid"
          >
          </verisure-input>
        </div>

        <div class="col-5">
          <div class="select-items">
            <verisure-input
              label="Moneda"
              [control]="$any(formPrecio.controls['tipoMonedaI'])"
              type="select"
              width="100%"
              placeholder="Seleccionar"
              [disabled]="!$any(formPrecio.controls['productoId']).valid"
            >
              <mat-option
                options
                *ngFor="let option of tipoMonedasOptions"
                [value]="option.key"
                >{{ option.value }}</mat-option
              >
            </verisure-input>
          </div>
        </div>
      </div>

      <div>
        <div class="col-5">
          <verisure-input
            [control]="$any(formPrecio.controls['precioM'])"
            type="text"
            label="Precio Monitoreo"
            placeholder="Ejemplo: 1.2"
            [disabled]="!$any(formPrecio.controls['productoId']).valid"
          >
          </verisure-input>
        </div>

        <div class="col-5">
          <div class="select-items">
            <verisure-input
              label="Moneda"
              [control]="$any(formPrecio.controls['tipoMonedaM'])"
              type="select"
              width="100%"
              placeholder="Seleccionar"
              [disabled]="!$any(formPrecio.controls['productoId']).valid"
            >
              <mat-option
                options
                *ngFor="let option of tipoMonedasOptions"
                [value]="option.key"
                >{{ option.value }}</mat-option
              >
            </verisure-input>
          </div>
        </div>
      </div>

      <div>
        <div class="col-5">
          <verisure-input
            [control]="$any(formPrecio.controls['verisureIdM'])"
            type="text"
            label="Id Verisure (Precio Monitoreo)"
            placeholder=""
            [disabled]="!$any(formPrecio.controls['productoId']).valid"
          >
          </verisure-input>
        </div>

        <div class="col-5">
          <div class="select-items">
            <verisure-input
              label="Tipo de cuota"
              [control]="$any(formPrecio.controls['tipoCuota'])"
              type="select"
              width="100%"
              placeholder="Seleccionar"
              [disabled]="!$any(formPrecio.controls['productoId']).valid"
            >
              <mat-option
                options
                *ngFor="let option of tipoCuotasOptions"
                [value]="option.key"
                >{{ option.value }}</mat-option
              >
            </verisure-input>
          </div>
        </div>
      </div>

      <mat-dialog-actions
        style="
          border-top: 1px solid #b1b1b1 !important;
          padding-top: 15px !important;
        "
      >
        <div class="actions-container">
          <div class="col-5">
            <p>
              ¿Quieres {{ data.action === 'add' ? 'crear' : 'editar' }} este
              precio?
            </p>
          </div>
          <div class="col-5">
            <div style="display: block">
              <div class="col-5 col-btn">
                <verisure-button
                  type="button"
                  (onClick)="closeModal()"
                  variant="accent"
                  size="medium"
                >
                  <p content>Cancelar</p>
                </verisure-button>
              </div>
              <div class="col-5 col-btn">
                <verisure-button
                  type="button"
                  (onClick)="saveData()"
                  variant="primary"
                  size="medium"
                  [disabled]="
                    !$any(formPrecio.controls['productoId']).valid ||
                    formPrecio.invalid
                  "
                >
                  <p content>
                    {{ data.action === 'add' ? 'Crear' : 'Guardar' }}
                  </p>
                </verisure-button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
